<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button>
        <ion-icon class="icon" slot="icon-only" color='light' name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button (click)="logout()">
        <ion-icon class="icon" slot="icon-only" color='light' name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <!-- Profile Picture -->
  <div class="card">
    <div class="image">
      <img src="../../assets/finkom2.png" alt="" class="img"/>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{name}}</h1>
        <!-- QR code -->
        <qrcode [qrdata]="QrCode" [width]="100" [errorCorrectionLevel]="'M'" allowEmptyString="true"></qrcode>
      </div>
      
      <div class="about">
        <h1>About</h1>
          <p>Universitas Binaniaga Indonesia atau disingkat UNBIN adalah sebuah universitas yang berasal dari gabungan 3 Perguruan Tinggi dibawah naungan Yayasan Binaniaga yaitu STIE Binaniaga, STIKOM Binaniaga dan AMIK Bogor. Unbin saat ini memiliki 2 fakultas yaitu Ekonomi dan Ilmu Komputer.</p>
        </div>
        <ion-card class="maps">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe width="600" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=STIKOM%20Binaniaga%20Bogor&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <a href="https://123movies-to.org">123movies</a><br>
              <style>.mapouter{position:relative;text-align:right;height:100px;width:600px;}</style>
              <a href="https://www.embedgooglemap.net">google map on website</a>
              <style>.gmap_canvas {overflow:hidden;background:none!important;height:100px;width:600px;}</style>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
</ion-content>